[submodule "Tower-Delivery/vendor/spdlog"]
	path = Tower-Delivery/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "TowerDelivery/vendor/spdlog"]
	path = TowerDelivery/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "TowerDelivery/vendor/GLFW"]
	path = TowerDelivery/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
[submodule "TowerDelivery/vendor/imgui"]
	path = TowerDelivery/vendor/imgui
	url = https://github.com/Lollobin/imgui
